<!--
 Project name: Call Organizer
 Description: This project will keep track of the various calls ACCR recieves.
 Filename: _form.html.erb 
 Description: Displays the form for editting a call.
 Last modified on: 03/29/2023
-->
<h1>Editing Call</h1>
<%= render 'form', call: @call %>
