<!-- 
# Project name: AMSTR (ACCR Management System Tracker)
# Description: Pro-Bono Tracker for ACCR to oversee work done on several cases
# Filename: aboutus.html.erb
# Description: Displays content about project and its significance to the user
# Last modified on: 4/13/22
-->
<div class="image-overlay">
<%= image_tag("criminaljustice.jpeg") %>
<div class="overlay-darker"></div>
  <div class="text-white text-center w-50 m-auto pt-5">
  <h1> About Us </h1> 
  <h4> The Atlantic Center for Capital Representation (ACCR) is a nonprofit organization whose primary services include: </h4> 
  <li class="supersize"> Providing direct representation </li>
  <li class="supersize"> Consulting on individual cases </li>
  <li class="supersize"> Advising and referring specialists </li>
  <li class="supersize"> Tracking Pennsylvania’s death penalty cases </li>
  <li class="supersize"> Educating and informing the concerned public </li>
  <li class="supersize"> Training the defenders both young and old who work on these cases of excessive sentencing that are truly emblematic of our need for reform. </li>
  </div>
</div>
</div>