<%#
  Project name: ACCR Mail Manager
  Description: Mail database and management system for ACCR community partner
  Filename: about.html.erb
  Description: View used for generating the 'About' informational page
  Last modified on: 4/13/22
  Content provided by Team 13, Team 14, and Team 24
%>
 
<br>
<h1>About the Mail Manager Project</h1>
<p>
  The purpose of this program is to organize mail that ACCR is receiving in an attempt to aid them in organizing and answering their clients and collecting the case statistics. This project will be able to centralize what problems inmates on death row are ultimately experiencing the most often. The project allows us to focus on problems within the Criminal Justice Systems through the mail that ACCR is receiving. We will also be collecting information regarding the race, sex, and age of the offender at the time of the crime which would be able to address other disparities in the Criminal Justice System.
</p>
<p>
  <span style="font-size: 32px; font-weight: bold;">60-80</span> represents the pieces of physical mail that comes into ACCR’s office yearly from inmates. These pieces of mail range from 1-50 page letters in length. The letters are all asking for something but not all the same. This leads our mail management program to sort the mail and the type of assistance needed. Statistics show that there are disparities within the breakdown of race regarding individuals on death row. Out of 2,563 individuals on death row at the time of a specific study done, 1,443 were white and 1,057 were black (Snell, 2020). This clearly shows the disproportionality when considering the race breakdown in the population. 
</p>
<p>
  A majority of these letters address having ineffective representation or being innocent of the crime that the senders are on death row for. In terms of ineffective assistance, all individuals who cannot afford counsel are appointed counsel by the government. “The Sixth Amendment guarantees a criminal defendant’s right to effective assistance of counsel. The purpose of this guarantee is to increase the fairness and likelihood of justice ultimately being reached in a criminal justice system that places private individuals and the government in an adversarial position” (Legal Information Institute. n.d.). Due to a lack of funds, offenders are regularly appointed counsel. In many cases, the defense attorneys or appointed counsel have so many cases that they are unable to dedicate the time needed to each case. These attorneys often lack in several aspects, a few being:  
  <ul>
    <li>Lack of funds</li>
    <li>Lack of skills</li>
    <li>Lack of fairness</li>
    <li>Lack of training</li>
  </ul>
</p>
 
<h2>Importance of the Project</h2>
<p>
  The topic surrounding this project is of great importance and severity. This project will allow for the cases brought to ACCR's attention to be looked at in a different light. In order for the project to be continued, the problem being solved should be explained in great detail in order to capture the seriousness of the topic. While the application may be a simple mail management system, it also keeps track of several key aspects including both the age and race of the victim and offender. These categories were selected based on the recomendations of ACCR, but the tag system was implemented to give them additional freedom through creation of custom attributes.
</p>
<p>
  There is an obvious and repetitive cycle in which offenders are arrested and recieve seirous long sentences whch have to do with thier appointed counsel. The aforementioned aspects that an appointed counsel typically lacks severely impacts the offender being charged, often resulting in the delivery of unjust sentencing. The things that appointed counsel lacks and does not have time for severely affects the offender being charged.
</p>
<p>
In terms of innocence claims, many of those who are on death row claim that they did not commit the crime that they are being punished for. A lot of times after further investigation into these cases, errors are discovered. These errors often place innocent people at the risk of being executed for a crime they did not commit. Data from the Death Penalty Information Center shows that since 1973, 186 individuals that were on death row have since been exonerated. Factors that contribute to wrongful death penalty convictions are:
</p>
  <ul>
    <li>False Confessions</li>
    <li>Eyewitness Misdidentifcations</li>
    <li>Official Misconduct</li>
    <li>False Accusations</li>
    <li>Inadeqaute Legal Defense</li>
    <li>Falsified/Misleading Forensic Evidence</li>
  </ul>
<p>
All these factors can lead to an individual receiving the death penalty for a crime they did not commit. The most common of the bunch being official misconduct and false confessions/accusations. When individuals are given the chance to prove their claims and now have effective legal representation and forensic evidence for example, they are now able to prove their innocence and they may be acquitted or released. It is extremely important for courts to thoroughly investigate these cases in order to avoid the death of an innocent person.
</p>
 
<h2>Supporting the Project</h2>
<p>
  The application was written using the full-stack web development framework Ruby on Rails. By continuing and expanding this project, data can be collected to further explore the death penalty in real time. A project like this would benefit the criminal justice system in gathering ways to scope out why certain cases get the death penalty as a punishment and why others do not. This project could also show what factors contribute to a case's increased likelihood of receiving the punishment of the death penalty when compared ot others. If this project is supported beyond the scope of this semester, it can help to solve misconceptions about the death penalty and help to draw comclusions as to why certain cases are more susceptible to receiving this punishment over other cases.
</p>
<p>
  Passing on information that both ACCR would need as well as future students would be crucial for the continuation of the project.
  Background information on the topic surrounding the project needs to be provided so that future innovators can work towards the same goal. Some of this information would include ACCR's current mail storage systems and development information for the future computer science students' benefits.
</p>
 
 
<h2>For Future Implementation</h2>
<p>
  Several features of the application may be added or expanded upon in the future in order to better serve its purpose. Some of these were considered for the initial creation of the project, but had to be put off due to time constraints.
</p>
<ul>
  <li>
    <em>Access Levels</em> - Admin abilities are naturally more powerful than intern abilities, so they should be kept seperate.
  </li>
  <li>
    <em>More Attributes</em> - As ACCR determines what aspects of mail items are most important, the list of searchable attributes should be modified.
  </li>
  <li>
    <em>Admin Page</em> - Along with the access levels, an admin page for adding additional user accounts should also be considered.
  </li>
</ul>
 
<h2>Volunteer Information</h2>
<p>
  Below is a list of ideas for volunteering. This information suggests various strategies for contributing to the social issue by both adding to the project itself and supporting ACCR's efforts:
</p>
<ul>
  <li>Reach out to colleges and highschoolers to educate and inform a new generation about the attrocities of the death Penalty in the United States.</li>
  <li>Updating the Atlantic Center for Capital Representation website in order to respond to invoices and emails quicker.</li>
  <li>Creating a new email system to allow the company to grow by streamlining the application process for interns and full time workers.</li>
  <li>Making an online viewable database so individuals curious about the death penalty are able to get update to facts and stats about death row inmates.</li>
  <li>NGO’s are vitally important to these men and women on death row as they are often given inadequate council in their initial trial.</li>
</ul>
 
<h2>Death Penalty Facts</h2>
<p>
  Below are several statistics relating to the death penalty in the criminal justice system. They should be used in an attempt to better educate oneself with this important social issue, and were largely the reasons behind the original project's inspiration:
</p>
<ul>
<li>Life without the possibility of parole has a higher deterrence effect than the death penalty</li>
<li>Lethal Injection is more expensive on average than simply imprisoning an individual</li>
<li>Despite white murders making up only 50% of all murders, 75% of all death penalty are form white murders showing a disparity in the system</li>
<li>There are more states in the United States that have the death penalty illegal than legal</li>
<li>The third largest prosecutor’s office (Cooks County), is known for implementing racist sentencing showing that the criminal justice system arbitrarily assigns innocence or guilt based on race</li>
<li>
  There are many court cases slowly banning the death penalty around the country:
  <ul>
    <li>Atkins v. Georgia: Anyone with diminished mental capacity cannot be executed</li>
    <li>Roper v. Simmons: Anyone under 18 years old cannot be executed</li>
    <li>Ford v. Wainwright: Anyone who is legally insane cannot be executed</li>
    <li>Coker v. Georgia: Bans mandatory death sentences for raping a woman</li>
    <li>Woodson v. North Carolina: Bans mandatory death sentences for a crime</li>
  </ul>
</li>
<li>1/10 death row executions are found to be innocent after their deaths</li>
 
</ul>
<p>
<h2>References</h2>
  <ul>
    <li>Legal Information Institute. (n.d.). Effective assistance of counsel. <%= link_to 'Legal Information Institute', 'https://www.law.cornell.edu/wex/effective_assistance_of_counsel', target: '_blank' %></li>
    <li>Snell, T. L. (2020) Capital Punishment, 2020 – Statistical Tables. Bureau of Justice Statistics. 1-26</li>
  </ul>
</p>
