<!-- Project name: Mapping Justice -->
<!-- Description: For our Rails of Justice Collaborative Project we have created an interactive map of PA. The map is color coded by cases + death sentences and population. 
The user can hover over a county to view its statistics. Additionally, several counties can be clicked to generate charts-->
<!-- Filename: index.html.erb -->
<!-- Description: The page generates the view for our about page. It provides details about our project -->
<!-- Last modified on: 4/9/2022 -->

<!-- Moved into mapping_justice_home index.html.erb-->

<!-- Headers and descriptions -->
<br>
<div class="container">
    <h1 class="text-center">About Mapping Justice</h1>  
    <hr>
    <p class="text-center">Mapping Justice is an interactive geographical map for the State of Pennsylvania that is broken down by each county in Pennsylvania to show data on the capital punishment such as offence committed, race of offender, race of victim, age, rate of capital convictions of that county. The map allows you to hover over a county and show the data on a pop up. Each county has a color assigned to it, and each county has different shades of color. The darker the shade means that there is a high rate of people sentenced to capital punishment from that county, and a lighter color means that there is little or no capital punishment sentaces from that county. This adds value to understand capital punishment in Pennsylvania becasue ACCR is be able to visually see where prosecutors are seeking the death penalty in certain counties, in addition to if counties seek it more than others.</p>
</div>

<!-- Div for footer -->
<div id="footer" class="text-center">
    <hr>
    <a>© 2022 Copyright: Mapping Justice</a>
</div>