<%# Project name: ACCRs Trail of Mail %>
<%# Description: Reminder system that reminds ACCR about mail recieved by sending an email to them %>
<%# Filename: edit.html.erb %>
<%# Description: Renders a form allowing the user to edit a reminder that was already published %>
<%# Last modified on: 4/26/22 %>
<%# Code by Team 24 %>

<h1>Editing Reminder</h1>

<%= render 'form', reminder: @reminder %>
<br/><br/>
